/* 
*your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh
}
.container{
	height:200px;
	width:200px;
	background-color:lightblue;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.container p{
	color:purple;
}





